@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
 src : @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
};

body {
      font-family: 'Montserrat',sans-serif;
    font-weight: 400;
};

.ty-stars__icon { 
    color: #24add4;
};

.top-menu-grid .ut2-h__menu .ty-menu__item .ty-menu__item-link bdi {
    font-size: 13px;
    font-weight: bold !important;
};
.ut2-top div.ty-mainbox-title, .ut2-bottom div.ty-mainbox-title, .ut2-top-bottom div.ty-mainbox-title {
    margin-top: -4px;
    text-align: center;
    font-size:24px;
    color: #023b5b;
};

.ty-tabs {
    margin: 0;
    border: 0;
    text-align: center;
};

.abt__ut2_grid_tabs.ty-tabs__item.active {
    border-color: #9e9e9e;
    background-color: #fb1368;
    border: none;
    color: #fff;
};

.ty-tabs__list .ty-tabs__item.active span, .ty-tabs__list .ty-tabs__item:hover span {
    color: #ffffff;
};

.ty-product-labels__item--discount {
    background-color: #073c5b;
};

.ut2-quick-view-button i, .ut2-add-to-wish:not(.label) i, .ut2-add-to-compare:not(.label) i {
    color: #8f8f8f;
    font-size: 22px;
    line-height: 22px;
};

.ut2-quick-view-button:hover i, .ut2-add-to-wish:not(.label):hover i, .ut2-add-to-compare:not(.label):hover i {
    color: #ff005d;
};

.ab_dotd_product_label {
    background: transparent;
    border: 1px solid #009688;
    color: #009688;
};

ut2-top-my-account .ty-dropdown-box__title .ac-title, .ut2-top-cart-content .ty-dropdown-box__title .ac-title {
    font-size: 10px;
};

.ut2-top-my-account .ty-dropdown-box__title .ac-title, .ut2-top-cart-content .ty-dropdown-box__title .ac-title {
    font-size: 10px;
};

.ut2-top-my-account .ty-dropdown-box__title.open, .ut2-top-cart-content .ty-dropdown-box__title.open {
  border-top: 0px solid #2e2e2e;
};

.ut2-gl__price .ty-price-num {
    font-size: 15px;
};

.ut2-gl__price.pr-row .ty-strike .ty-list-price {
    font-size: 12px;
};

.ty-footer-menu__header, .ty-footer-general__header {
    font-size: 13px;
text-transform: none;
    font-weight: bold;
};

.ut2-gl__control.view {
    display: flex;
};

.ty-btn__primary:hover {
  background: #809dad;
};


.bottom-copyright {
    color: #bfbebe;
margin-top: 0px;
};


.ut2__buy-together {
    border: 3px solid #023b5b;
};
.ut2-bt .subheader {
    color: #023b5b;
};
.ut2-pb .ty-btn__add-to-cart:hover {
    background: #809dad;
};
.ut2-pb .ty-btn__add-to-cart {
    background: #023b5b;
};
.ty-product-block .ab__deal_of_the_day .action-title {
    color: #023b5b;
};
.abt__ut2_rb .rb-meter-bar {
    background: #24add4;
};

.ab__deal_of_the_day {
   border: 3px solid #023b5b;
};
.ab__deal_of_the_day .action-title {
    color: #023b5b;
};
.ty-subheader, div.ty-mainbox-title, .ty-footer-form-block__title, a.ty-quick-view__title {
    font-weight: bold;
};
.ut2-gl__control.ut2-view-qty .button-container {
    display: table-cell;
};
.ut2-pb .ty-btn__add-to-cart {
    color: #ffffff;
};
.ut2-pb .ab__deal_of_the_day {
    background: #d2d6d8;
};

.reg-content-grid {
  background-color: #fff;
  background-image: url(/images/page_image/registration_bg.png?874287327332323);
background-size: contain;
background-repeat: no-repeat;
background-position: center top;
min-height: 400px;

};

.ty-wysiwyg-content .reg-header h3 {
    text-align: center;
    text-transform: uppercase;
    color: #023b5b;
    font-size: 24px;
    font-weight: 900 !important;
};

.reg-step {
  padding: 130px 20px 0px 150px;
};

.reg-step h3 {
  color: #ff005d;
  font-weight: 900 !important;
};

.reg-action-grid {
  text-align: center;
  padding-top: 50px;
};

.reg-action-grid .ty-wysiwyg-content .ty-btn__register {
    text-transform: uppercase;
    background-color: #023b5b;
    padding: 30px 50px;
    font-weight: 700 !important;
    margin-bottom: 80px;
    font-size: 18px;
};

.reg-action-grid .ty-wysiwyg-content .ty-btn__register:hover {
  background-color: #194e6b;
};

.edge-block-grid {
  background-color: #ebf4f9;
};

.edge-header {
   margin-bottom: 30px;
};

.edge-header h3 {
    text-align: center;
    text-transform: uppercase;
    color: #023b5b;
    font-size: 24px;
    font-weight: 900 !important;
    margin-top: 50px;
};

.edge-header h3 em {
    color: #ff005d;
    font-style: normal;
    font-weight: 900 !important;
};

.edge-header p {
    text-align: center;
    font-weight: bold;
    color: #000;
    padding: 10px 20px;
    font-size: 16px !important;
   
};

.edge-pic {
  max-width: 350px;
  max-height: 350px;
  margin-left: 20px;
  margin-right: 20px;
};

.edge-content-grid h3 {
    color: #023b5b;
    text-transform: capitalize;
};

.mobapp-pic {
  max-width: 550px;
  max-height: 550px;
  margin-left: 20px;
  margin-right: 20px;
};

.mobapp-header h2 {
   font-size: 36px !important;
   margin-bottom: 20px;
   text-transform: none;
   font-weight: 900 !important;
};

.mobapp-details p {
   color: #023b5b;
   margin-bottom: 20px;
   margin-right: 20px;
   font-size: 18px;
   font-weight: 400;
};

.mobapp-details p span {
   font-weight: bold !important;
};

.mobapp-details .ty-btn__mdownload {
  margin-top: 20px;
  text-transform: uppercase;
  background-color: #ff005d;
  padding: 20px 40px;
  font-weight: bold;
};

.mobapp-details .ty-btn__mdownload:hover {
  background-color: #fb4487;
};

.mobapp-details img {
  max-height: 50px;
  margin-left: 20px;
  margin-top: 20px;
};

.ut2-banner .ut2-a__bg-banner .ut2-a__content .ut2-a__title.weight-900{
    font-weight: 900;
};
.ut2-banner .ut2-a__bg-banner .ut2-a__content .ut2-a__title.weight-900 span{
    font-weight: 900;
    color: #ff005d;
};
.ty-tabs__list .ty-tabs__item.active span, .ty-tabs__list .ty-tabs__item:hover span {
    color: #a7a2a2;
};

.ty-footer-menu {
    background-color: white;
};
.ty-footer-form-block {
    background: #ffffff; 
};

.ty-footer-form-block__input input[type="text"] {
    padding: 4px 15px;
    border-color: #737373;
   
};

.ty-footer-form-block__title {
    font-size: 13px;
    text-transform: unset;
};
.ty-footer-form-block__form .ty-social-link__title {
    font-size: 13px;
};


.ut2-social-links i {
    border-radius:18px;
};

.ut2-social-link-block {
    /* min-height: 162px; */
    margin: -40px;
    padding: 20px;
    background: #fff0;
    text-align: center;
};
.ty-footer-menu__item a {
    color: #000000;
};
.ty-product-review-reviews-stars{
    color:#24add4;
};

.ut2-top div.ty-mainbox-title, .ut2-bottom div.ty-mainbox-title, .ut2-top-bottom div.ty-mainbox-title {
    font-weight: 900 !important;
}
.ut2-top div.ty-mainbox-title, .ut2-bottom div.ty-mainbox-title, .ut2-top-bottom div.ty-mainbox-title {
    font-weight: 900 !important;
    margin-top: 30px !important;
    margin-bottom: 20px;
}
.abt__ut2_grid_tabs.ty-tabs__item.active .ty-tabs__span {
    color: #fff !important;
};

.ut2-banner .ut2-a__bg-banner .ut2-a__content .ut2-a__title.weight-900 {
    font-weight: 900 !important;
}
.ut2-banner .ut2-a__bg-banner .ut2-a__content .ut2-a__descr {
    font-weight: 400 !important;
}
@media screen and (min-width: 769px) {
    .ty-tabs__list {
        padding-right: 0px;
    }
}

.ty-btn__primary, .ty-btn__knowmore {
    box-shadow: none !important;
    border-bottom: none !important;
}

.ty-footer .ty-wysiwyg-content h1, .ty-footer .ty-wysiwyg-content h2, .ty-footer .ty-wysiwyg-content h3  {
    font-weight: bold !important;
}

.ty-footer .ty-wysiwyg-content h5 {
    font-weight: bold !important;
    font-size: 20px;
}

.ty-footer .ty-wysiwyg-content h6 {
    font-weight: 400 !important;
}

.mobapp-content-grid .ty-wysiwyg-content h2 {
    font-weight: 600 !important;
}

.edge-col1 .ty-wysiwyg-content h3, .edge-col2 .ty-wysiwyg-content h3 {
    font-weight: bold !important;
}

.ty-menu__submenu-items .ty-menu__submenu-item-header a bdi {
    font-weight: bold !important;
}

.footer-no-wysiwyg  .ty-footer-form-block { 
    text-align: left !important;
    padding-top: 35px;
}

.footer-no-wysiwyg .ty-footer-form-block__input {
    justify-content: left !important;
}

.footer-no-wysiwyg .ut2-social-links {
    justify-content: left !important;
}

.ty-btn__knowmore {
    padding: 30px 40px;
    border: #999 1px solid !important;
    margin-bottom: 20px;
    font-size: 16px;
}

.ty-btn__knowmore:hover {
    padding: 30px 40px;
    border: #ff005d 1px solid !important;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #ff005d;
    color: #fff !important;
}

.reg-header  .ty-wysiwyg-content h3 {
    font-weight: 900 !important;
    font-size: 24px;
    color: #023b5b;
    text-align: center;
};
.ut2-filters > div.ty-mainbox-simple-title {
    padding-bottom: 25px;
};
.ut2-sorting-wrap .ty-sort-dropdown:first-child:before {
    color: #ff0064;
};
.ty-range-slider .ui-slider-range {
    background: #20abc0;
};
.ty-range-slider .ui-slider-handle {
    border: 5px solid #20abc0;
};
.ut2-gl__body {
    box-shadow: inset 0 0 0 1px #e1e1e1;
};
.ty-sort-dropdown__wrapper {
    color: #ff0064;
};
.ut2-sort-label {
    color: #000000;
};
.ty-product-filters__group [type="checkbox"]:not(:checked) + label::after, .ty-product-filters__group [type="checkbox"]:checked + label::after {
    background: #20abc0;
    border: #20abc0;

};
.ty-sort-container__views-a.active {
    color: #ff0064;
};
a:hover {
    color: #ff0064;
};
.ut2-gl__control a.ty-btn {
    width: 100%;
    max-width: 200px;
    background: #ff0064;
};
.ty-qty-in-stock i, .ty-qty-out-of-stock i {
    font-size: 20px;
};
.ut2-pb .ty-btn__add-to-cart {
    background: #ff0064;
};
.pswp__caption .pswp__price-wrap {
    font-weight: bold;
};
.ty-product-list .ty-list-price.ty-save-price, .ty-product-block .ty-list-price.ty-save-price {
    background: #ff0064;
};
.ty-product-list .ty-list-price.ty-save-price:before, .ty-product-block .ty-list-price.ty-save-price:before {
    border-color: transparent #ff0064 transparent transparent;
};
.ty-no-items {
    display: none;
};
.ut2-cat-container.reverse, .ut2-feat-container.reverse {
margin-bottom: 20px;
};
.ty-product-detail.ut2-big-image .ty-product-review-product-rating-overview-short {
    margin-top: 20px;
    margin-bottom: 30px;
};

.content-features .ty-product-feature__label {
    color: #000000;
};
.content-features .ty-compare-checkbox__icon {
    display: none;
};

.ut2-big-image .ab__mb_items.fill:not(.colored) .ab__mb_item:first-child {
    border-top: 1px solid #b7b7b7;
};
.ab__mb_items .ab__mb_item {
    border-top: 1px solid #b7b7b7;
};
.ut2-big-image .ab__mb_items.fill:not(.colored) .ab__mb_item:last-child {
    border-bottom: 1px solid #b7b7b7;
};
.ty-subheader
{
 display: none;
};
.ab_dotd_product_label {
    background: transparent;
    border: 1px solid #24add4;
    color: #24add4;
};
.owl-theme .owl-controls:not(.owl-controls-outside) {
    margin-top: 20px;
};

.owl-theme .owl-controls:not(.owl-controls-outside) .owl-page span {
    background: #023b5b;
};

.ut2-social-links {
    justify-content: left;
    margin-left: 12px;
};
.ty-menu-item__seller span
{
 color: #FF0064;
};

.grid-list .ty-sku-item {
    font-size: 13px;
};
.ut2-gl__name .product-title {
    font-weight: bold;
};
.ut2-filters > div.ty-mainbox-simple-title {
    margin-top: 10px;
};
.top-quick-links .ty-text-links-wrapper {
    margin-right: 35px;
};